html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

/*--- mails ---*/

.mail {
    position: relative;
    box-sizing: border-box;
    width: 90%;
    min-width: 860px;
    height: 5em;
    margin: 1em auto;
    border-bottom: 2px solid;
    overflow: hidden;

}

.mail:hover {
    cursor: pointer;
}

.mailHeader {
    position: absolute;
    height: 50%;
    width: 100%;
}

.mailContent {
    position: absolute;
    height: 50%;
    top: 50%;
    padding: 0.3em 2em;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 0.9em;
}

.mailHeader div {
    display: inline-block;
    padding-top: 0.5em;
}

.mailHeader .mailDate {
    position: absolute;
    width: 15%;
    left: 5%;
    text-align: right;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.mailHeader .senderName {
    position: absolute;
    width: 20%;
    left: 25%;
    padding-top: 0.3em;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 1.1em;
}

.mailHeader .mailTitle {
    position: absolute;
    width: 33%;
    top: auto;
    left: 47%;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-style: italic;
}

.unreaded {
    font-weight: bold;
}

/* ----------------- */

/* ---- Mail directories ----*/

#mailDir div {
    width: 100%;
    height: 3.7em;
    border-bottom: solid 1px #8a0000;
    line-height: 3.8em;
    text-align: center;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-weight: bold;
    font-style: italic;
    font-size: 1.3em;
    background-image: url("../img/mailDirSel.png");;
    background-position: right;
    background-repeat: repeat-y;
    transition: 0.5s;
}

#mailDir div:hover {
    cursor: pointer;
    background-image: url("../img/mailDirSelHov.png");
    background-position: right;
    background-repeat: repeat-y;
    transition: 0.5s;
}

/* --------------------- */

/* ------- header -------*/

#user {
    float: left;
    width: 18%;
    height: 100%;
    border-right: double 5px greenyellow;
    text-align: center;
    line-height: 3.1em;
    font-family: Verdana, Geneva, sans-serif;
    font-style: italic;
    font-size: 1.2em;
}

#menu {
    position: relative;
    float: right;
    width: 80%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;
}

#loginOut {
    position: absolute;
    width: 6em;
    height: 70%;
    right: 2em;
    top: 14%;
    border: solid 1px;
    line-height: 2em;
    text-align: center;
}

#settingsButton {
    position: absolute;
    width: 1.3em;
    height: 1.3em;
    right: 10em;
    top: 0.8em;
    border: solid 1px;
}

#newLetter {
    position: absolute;
    width: 10em;
    height: 70%;
    left: 2em;
    top: 14%;
    border: solid 1px;
    line-height: 2em;
    text-align: center;
}

#send {
    position: absolute;
    width: 10em;
    height: 70%;
    left: 14em;
    top: 14%;
    border: solid 1px;
    line-height: 2em;
    text-align: center;
}
