<div id="mailDir">
    <div id="inbox" ng-click="directory.set('inbox')" ng-class="directory.checkClass('inbox')"><span>Входящие</span></div>
    <div id="ch" ng-click="directory.set('drafts')" ng-class="directory.checkClass('drafts')"><span>Черновики</span></div>
    <div id="sent" ng-click="directory.set('sent')" ng-class="directory.checkClass('sent')"><span>Отправленные</span></div>
    <div id="favorites" ng-click="directory.set('favorites')" ng-class="directory.checkClass('favorites')"><span>Избранное</span></div>
    <div id="cart" ng-click="directory.set('trash')" ng-class="directory.checkClass('trash')"><span>Корзина</span></div>
</div>