<div>
    <div id="user">Моя_Почта@где-то.там</div>
    <div class="userSettings">
        <div id="loginOut">Выйти</div>
        <div id="settingsButton" ></div>
    </div>
    <div class="settingsMenu" ng-show="showMenu" >
        <ul>
            <li ng-click="menu.setDirectory('contacts')">Контакты</li>
        </ul>
    </div>
    <div id="newLetter" ng-click="menu.newLetter()">Написать письмо</div>
    <div class="newLetterMenu" ng-show="menu.currentState() === 'newLetterForm'">
        <div id="send" ng-click="menu.send('sent')">Отправить</div>
        <div id="save" ng-click="menu.send('drafts')">Сохранить черновик</div>
    </div>
    <div class="previewLetterMenu" ng-show="menu.currentState() === 'preview'">
        <div id="reply"  ng-show="menu.getPreviewDir() === 'inbox'"  ng-click="menu.replay()">Ответить</div>
        <div id="recover" ng-show="menu.getPreviewDir() === 'trash'" ng-click="menu.recover()">Восстановить</div>
        <div id="edit" ng-show="menu.getPreviewDir() === 'drafts'" ng-click="menu.edit()">Редактировать черновик</div>
        <div id="delete" ng-click="menu.remove()">Удалить</div>
    </div>

</div>